<div class='small-6 medium-4 large-3 columns'>
	<h6>Esdégé-Reigersdaal</h6>
	<ul>
		<li><a href="http://www.esdege-reigersdaal.nl" target="_blank">Website</a></li>
		<li><a href="http://www.werkenbijesdege-reigersdaal.nl" target="_blank">Werken bij ER</a></li>
	</ul>		
</div>	
<div class='small-6 medium-4 large-3 columns'>
	<h6>Activiteiten</h6>
	<ul>
		<li><a href="#">voor senioren</a></li>
		<li><a href="#">voor kinderen</a></li>
		<li><a href="#">voor met NAH</a></li>
		<li><a href="#">voor met LB</a></li>
	</ul>		
</div>
<div class='small-6 medium-4 large-3 columns'>
	<h6>Contact</h6>
	Dagbestedinggids Noord-Holland Noord<br>
	Straatnaam 1<br>
	1234 AB  Woonplaats<br>
	<br>
	info@dagbestedinggidsnh-n.nl<br>
	<br>
	072-1234567	
</div>
<div class='small-6 medium-4 large-3 columns'>
	<h6>Volg ons via social media</h6>
	<%= image_tag "facebook.png" %>
	<%= image_tag "twitter.png" %>
	<%= image_tag "youtube.png" %>
	
</div>